<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label translate>messages.search</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="read">
      <ion-icon name="book"></ion-icon>
      <ion-label translate>messages.read</ion-label>
    </ion-tab-button>
      <ion-tab-button tab="help">
          <ion-icon name="help-circle"></ion-icon>
          <ion-label translate>messages.help</ion-label>
      </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-icon name="contact"></ion-icon>
      <ion-label translate>messages.about_us</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
