<ion-header>
  <ion-toolbar>
    <ion-item>
      <img alt="logo" height="40"   src="../../../assets/icon/icon.png" >
      <ion-title>
        Bible Miner
      </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>About</h1>
  <h4>Version: 0.1.8</h4>
  <h4>Codename: Adam</h4>
  <h2>Contact Info</h2>
  <p>
    If you have any concern or suggestion please feel free to send and email to
    <a href="mailto:rafael.espinosa@bible-miner.com">Rafael Ernesto Espinosa Santiesteban</a>.
  </p>
  <h2>Copyrights and Disclaimers</h2>
  <h3>Bible Miner</h3>
  <p>&copy; 2019 Bible Miner, Rafael Ernesto Espinosa Santiesteban. Bible Miner is just a search engine,
    biblical text and dictionaries in our database belongs to their respective owners.</p>

  <h3>Reina Valera Gómez 2010</h3>

  <p>&copy; Reina Valera Gomez, 2010, Copyright 2010 by Dr. Humberto Gomez Caballero,
    Liberty Baptist Church of Matamoros Tam. Mexico.
    It is prohibited to print, or reproduce the text for the purpose of profit. The rights reserved are not for sale,
    and are only to protect us against any organization, or person that wants to take possession of the text.
    All Churches or organizations that want to print or reproduce it for free distribution have the clear liberty to do
    so without need to pay royalties, always and when they do not change any of the written words.</p>

  <h3>King James 2000, 1999</h3>
  <p>&copy; King James 2000, Copyright 2000 by Dr. Robert A. Couric.
    This KJ2000 Bible may be freely copied for noncommercial use only.</p>
</ion-content>
